.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.Layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
