.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.Auth h1 {
  color: white;
  padding-top: 50px;
}

.Form {
  display: flex;
  flex-direction: column;
  min-width: 509px;
}
